<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Películas Disponibles</title>
</head>
<body>
    <h1>Películas Disponibles</h1>
    <ul>
        {% for movie in movies %}
            <li>{{ movie.title }} - {{ movie.duration }} ({{ movie.year }})</li>
        {% endfor %}
    </ul>
    <a href="/">Volver a Inicio</a>
</body>
</html>
